.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0d1b2a; /* Um azul bem escuro */
    color: #e0e1dd;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #1b263b;
}

.sidebar-logo {
    width: 150px;
}

.sidebar-menu {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    flex-grow: 1; /* Faz o menu ocupar o espaço disponível */
}

.menu-item {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: #1b263b;
}

.menu-item.active {
    background-color: #415a77;
    font-weight: bold;
}

.sidebar-footer {
    padding: 20px;
    border-top: 1px solid #1b263b;
}

.sidebar-menu li {
    list-style-type: none; /* Remove a bolinha da lista */
}

.sidebar-menu .menu-item {
    display: block; /* Faz o link ocupar todo o espaço do <li> */
    color: #e0e1dd;
    text-decoration: none;
}